header {
  background: #eadb8a;
  display: flex;
  height: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  justify-content: space-between;
  align-items: center;

  img {

    &.logo {
      height: 48px;
      margin-left: 50px;
    }
  }

  .user-menu {
    height: 50px;
    display: flex;
    margin-right: 60px;
    align-items: center;
    font-size: 14px;
    padding: 0 10px;

    &:hover {
      background: #d6c87e;
      cursor: pointer;
    }
    .avatar{
      height: 30px;
    }

    .user-email {
      margin-left: 15px;
    }
  }
}