{{currentUser?.email }}
<h1>Sign in</h1>
<form #form="ngForm" (ngSubmit)=signin(form)>
  <div>
    <span>email</span>
    <input type="text"
          name="email"
          required
          #email="ngModel"
          ngModel>
    <div *ngIf="email.errors && (email.dirty || email.touched)">
      <label *ngIf="email.errors.required">can't be blank</label>
    </div>
  </div>
  <div>
    <span>password</span>
    <input type="text"
          name="password"
          required
          #password="ngModel"
          ngModel>
    <div *ngIf="password.errors && (password.dirty || password.touched)">
      <label *ngIf="password.errors.required">can't be blank</label>
    </div>
  </div>
  <button type="submit" [disabled]="form.invalid">signin</button>
  <a href="javascript:void(0);" routerLink="/sign-up">new user</a>
</form>
<button (click)="isAutarizate(email.value, password.value)">isAutarizate</button>
